
.navbar-brand {
  padding-top: 10px;
  padding-bottom: 25px;
}
.navbar-brand h1 { 
  font-family: 'tahoma', serif;
  color: #000000;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
h3 { 
  font-family: 'tahoma', serif;
  color: #000000;
  font-size: 2em;
  font-weight: bold;
  margin-top: 10;
  margin-bottom: 30;
  line-height: .75;
}
.jumbotron h2 { 
  font-family: 'tahoma', serif;
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.jumbotron p { 
  font-family: 'tahoma', serif;
  color: #000000;
  font-size: 1em;
  margin-top: 20;
  margin-bottom: 15;
  line-height: 1.2;
}
#nav-list a {
  color: #000000;
  text-align: center;
  font-size: 1.5em;
}
#nav-list a:hover {
  background: #0000ff;
}
